* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #3c7cb2;
}

/** ====================================================================== **/
/** NAV BAR **/
/** ====================================================================== **/

nav {
    height: 110px;
    font-family: 'Josefin Sans', sans-serif;
}

nav img {
    width: 230px;
    position: absolute;
    top: 33px;
    left: 12%;
}

nav ul {
    float: right;
    margin: 1rem 8rem 0 0;
    width: 56%;
    justify-content: space-between;
    display: flex;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: #fff;
    font-size: 30px;
    padding: 5px 0;
}

nav ul li a:before {
    position: absolute;
    content: '';
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.languages {
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.languages a {
    color: #fff;
}

.languages a:hover {
    opacity: .7;
}

.world img {
    width: 35px;
    position: absolute;
    top: 18px;
    left: 11px;
}

label #btn,
label #cancel {
    color: #fff;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/** ====================================================================== **/
/** END NAV BAR **/
/** ====================================================================== **/


/** ====================================================================== **/
/** SOCIAL LINKS **/
/** ====================================================================== **/
.button {
    position: absolute;
    width: 100px;
    height: 250px;
    margin-top: 13rem;
    display: flex;
}

.arrow {
    width: 35px;
    height: 250px;
}

.arrow img {
    width: 28px;
    margin: 111px 3px;
}

.social-links {
    width: 60px;
    height: 250px;
    background-color: rgba(126, 144, 125, 0.5);
    border-radius: 15px;
}

.social-links ul {
    margin: 58px 7px;
}

.social-links ul li {
    margin: 10px 0;
}

.social-links img {
    width: 45px;
    border-radius: 5px;
}

/** ====================================================================== **/
/** END SOCIAL LINKS **/
/** ====================================================================== **/
/** ====================================================================== **/
/** INFORMATION **/
/** ====================================================================== **/
.container {
    max-width: 80%;
    margin: auto;
    background: #fff;
}

.meet {
    font-family: 'Josefin Sans', sans-serif;
    color: #3c7cb2;
    font-size: 45px;
    letter-spacing: 2px;
    margin-left: 4rem;
    padding-top: 3rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem 3rem;
    grid-column-gap: 3%;
}

.information p {
    font-family: 'Just Another Hand', cursive;
    color: #363636;
    font-size: 35px;
    text-indent: 50px;
    letter-spacing: 3px;
}

.pic img {
    max-width: 450px;
}

.speech {
    font-size: 50px;
}

.speech p {
    font-family: 'Just Another Hand', cursive;
    color: #363636;
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 3px;
    padding-bottom: 3rem;
}

/** ====================================================================== **/
/** END INFORMATION **/
/** ====================================================================== **/


/** ====================================================================== **/
/** RESPONSIVE PAGES **/
/** ====================================================================== **/
@media (max-width: 1440px) {
    nav img {
        left: 4%;
        width: 200px;
    }

    nav ul {
        width: 65%;
    }

    nav ul li {
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 25px;
    }

    .information p {
        font-size: 30px;
        letter-spacing: 2px;
    }

    .pic img {
        max-width: 350px;
    }

}

@media (max-width: 1250px) {

    .grid-container {
        display: block;
    }

    .pic img {
        margin: 1rem 0 0 30%;
    }

}

@media (max-width: 1024px) {
    label #btn {
        display: block;
        line-height: 112px;
    }

    nav {
        position: sticky;
        top: 0;
        background-color: #3c7cb2;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #66a1d1;
        top: 93px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: block;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
        line-height: 112px;
    }

    .button {
        display: none;
    }
}

@media (max-width: 823px) {
    .pic img {
        margin: 1rem 0 0 19%
    }
}

@media (max-width: 768px) {
    .meet {
        font-size: 35px;
        padding-top: 2rem;
    }

    .grid-container {
        padding: 1rem 3rem;
    }

    .pic img {
        margin: 1rem 0 0 21%;
        max-width: 300px;
    }

    .speech {
        font-size: 35px;
    }

    .speech p {
        word-spacing: 10px;
    }
}

@media (max-width: 700px) {
    .meet {
        font-size: 30px;
    }

    .pic img {
        margin: 1rem 0 0 19%
    }
}

@media (max-width: 667px) {
    .pic img {
        margin: 1rem 0 0 16%
    }
}

@media (max-width: 600px) {
    .pic img {
        margin: 1rem 0 0 11%
    }
}

@media (max-width: 568px) {
    .pic img {
        margin: 1rem 0 0 9%;
    }
}

@media (max-width: 500px) {
    .grid-container {
        padding: .5rem 1rem;
    }

    .meet {
        font-size: 23px;
        padding-top: 1rem;
        margin-left: 2rem;
    }

    .information p {
        font-size: 25px;
    }

    .pic img {
        margin: 1rem 0 0 22%;
        max-width: 200px;
    }
}

@media (max-width: 414px) {
    nav {
        height: 80px;
    }

    nav img {
        width: 180px;
        top: 20px;
    }

    label #btn {
        line-height: 75px;
    }

    #check:checked~label #cancel {
        line-height: 75px;
    }

    nav ul {
        top: 62px;
    }

    .meet {
        font-size: 18px;
        margin-left: 1rem;
    }

    .information p {
        font-size: 22px;
    }

    .pic img {
        margin: 1rem 0 0 16%;
    }

    .speech p {
        word-spacing: 0;
        font-size: 30px;
    }

    @media (max-width: 375px) {
        .pic img {
            margin: 1rem 0 0 12%;
        }
    }

    @media (max-width: 360px) {
        .pic img {
            margin: 1rem 0 0 10%;
        }
    }

    @media (max-width: 320px) {
        .pic img {
            margin: 1rem 0 0 5%;
        }
    }

    @media (max-width: 280px) {
        .pic img {
            margin: 1rem 0 0 -2%;
        }
    }
}

/** ====================================================================== **/
/** END RESPONSIVE PAGES **/
/** ====================================================================== **/